/* csslint ignore:start */

#mapid {
  height: 60vh;
  margin: 20px auto;
}

/* Override values in leaflet.css */
#mapid.leaflet-container .leaflet-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 5px 20px 15px;
}

/* csslint ignore:end */
