-
  var $vars = {}; //funky name to hold all global variables in templates.

  $vars.preamblelist = [
    "Free Software Community of India is a collective of Free Software (sometimes also called as Open Source Software) users, advocates and developers.",
    "We maintain communication and collaboration infrastructure for everyone that respects their freedom and privacy. We maintain a list of Free Software communities and offer sub domains of fsug.in or fosscommunity.in. We depend on donations and community manpower to run the infrastructure.",
    "We mentor Free Software enthusiasts to become Free Software contributors.",
    "We provide GNU/Linux installation and configuration support mainly via online messaging groups."
  ];
  
  $vars.heading = "Free Software User Groups in India";
  
  $vars.LoomioLink = "https://www.loomio.org/g/esPoQ4S0/free-software-community-of-india-fsci-";
  
  $vars.MatrixLink = "https://matrix.to/#/%23fsci:matrix.org";
  $vars.TGLink = "https://t.me/fscin";
  
  $vars.author = "";
  $vars.keywords = "";
  $vars.description = "";
