extends ../layout.pug

block head
  title= "FSCI Events"

block content
  .container.bootcards-container.push-right
    .row
      // left list column
      //-#list.col-sm-5.bootcards-list(data-title='Contacts')
        .panel.panel-default
          .panel-body
            .search-form
              .row
                //-.col-xs-9
                  .form-group
                    input.form-control(type='text', placeholder='Search Contacts...')
                    i.fa.fa-search
                .col-xs-3
                  a.btn.btn-primary.btn-block(href='#')
                    i.fa.fa-plus
                    span Add
          // panel body
          .list-group
            // list of sample data
            for event in events.events
              a.list-group-item(href='/events/' + event.lat + '.' + event.lng + '.html')
                img.img-rounded.pull-left(src=event.imgurl)
                h4.list-group-item-heading= event.name
                p.list-group-item-text!= event.venue + ', ' + event.district
      .col-sm-12.bootcards-cards
        // contact details
        #contact-card.event-card.col-sm-4
          .panel.panel-default.event-details
            .panel-heading.clearfix
              h3.panel-title.pull-left Contact Details
              .btn-group.pull-right.visible-xs
                a.btn.btn-primary(href='#', data-toggle='modal', data-target='#editModal')
                  i.fa.fa-pencil
                  span Edit
            .list-group
              .list-group-item.separator-top
                label= "NAME"
                h4.list-group-item-heading= evt.name
              .list-group-item.separator
                label= "LOCATION"
                if (evt.lat != "" && evt.lng != "")
                  a(href="http://www.openstreetmap.org/?mlat=" + evt.lat + "&mlon=" + evt.lng + "&ref=FSCI")
                    h4.list-group-item-heading= evt.venue + ', ' + evt.district
                else
                h4.list-group-item-heading= evt.venue + ', ' + evt.district
              .list-group-item.separator
                label= "ORGANIZED BY"
                h4.list-group-item-heading= evt.organizedby
              .list-group-item.separator
                label= "DATETIME"
                h4.list-group-item-heading= evt.when
              if (evt.contactinfo != "")
                .list-group-item.separator
                    label= "CONTACT INFO"
                    h4.list-group-item-heading= evt.contactinfo

        #description-card.event-card.col-sm-8
          .panel.panel-default.bootcards-richtext.event-details
            .panel-heading
              h3.panel-title Description
              a.btn.btn-primary.pull-right(href='http://fsci.org.in/events')
                span Back
            .panel-body!= evt.description
              p.lead
                img(src=evt.imgurl, alt=evt.name)
