// the Original SEO
+meta('author',$vars.author)
+meta('keywords',$vars.keywords)
+meta('description',$vars.description)

// if each site makes their own METAs, then ...?

// OpenGraph

// Twitter Cards

// Google Plus Author Info

// Google Structured data markup
